<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Reconsidere Corporation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/account" routerLinkActive="active">Conta</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/unit" routerLinkActive="active">Unidade</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/department" routerLinkActive="active">Departamento</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/residue-register" routerLinkActive="active">Cadastro de resíduo</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/scheduling" routerLinkActive="active">Agendamento</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/entries-management" routerLinkActive="active">Entrada e Saída</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/registration-provider" routerLinkActive="active">Fornecedor</a>
      </li>
    </ul>


    <div class="pull-right">
      <ul class="nav pull-right">
        <li ngbDropdown class="dropdown"><a ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown"><span class="text-muted text-uppercase" *ngIf="name">Bem vindo, {{name}}</span> <b class="caret"></b></a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a class="text-muted" routerLink="/logout" routerLinkActive="active" (click)="auth.logout()"><i class="icon-off text-muted"></i>Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>