<app-toolbar></app-toolbar>
<div class="container-fluid">
    <div class="row min-vh-100">
        <aside class="col-12 col-md-2 p-0 bg-info">
            <nav class="navbar navbar-expand navbar-dark bg-info flex-md-column flex-row align-items-start py-6">
                <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <i>
                                <mat-icon>business</mat-icon>Unidades
                            </i>
                            <div class="styleLi"  cdkDropList #minha="cdkDropList" [cdkDropListConnectedTo]="[confirmados]" [cdkDropListData]="myUnits"  (cdkDropListDropped)="drop($event, item)">
                                <ul class="list-group styleLi">
                                    <li class="list-group-item text-dark styleLi" *ngFor="let p of myUnits " cdkDrag>{{p?.company}}</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Codeply</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3">
            <div class="card styleCard">
                <div class="card-header">Painel
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            Minhas unidades
                        </div>
                        <div cdkDropList #confirmados="cdkDropList" [cdkDropListData]="itemListUnits" [cdkDropListConnectedTo]="[minha]" (cdkDropListDropped)="drop($event, item)" class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div cdkDrag class="col-sm-4" *ngFor="let unit of itemListUnits">
                                        <div class="card">
                                            <img class="card-img-top img-fluid" src="{{unit.path}}" alt="unidade">
                                            <div class="card-block">
                                                <h4 class="card-title">{{unit.company}}</h4>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <small><b>CNPJ </b></small>
                                                <input [(ngModel)]="unit.cnpj" class="inputStyle form-control" mask="00.000.000/0000-00" disabled="disabled" />
                                                <small><b>Email </b></small>
                                                <input [(ngModel)]="unit.email" class="inputStyle form-control" disabled="disabled" />
                                                <small><b>Telefone </b></small>
                                                <input [(ngModel)]="unit.phone" class="inputStyle form-control" mask="(00) 0000-0000" disabled="disabled" />
                                                <small><b>Celular </b></small>
                                                <input [(ngModel)]="unit.cellPhone" class="inputStyle form-control" mask="(00) 00000-0000" disabled="disabled" />
                                                <button class="pull-right" (click)="goToUnits()" type="button" mat-raised-button color="accent" data-toggle="button" aria-pressed="false" autocomplete="off">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <div cdkDropList #confirmados="cdkDropList" [cdkDropListData]="itemListUnits" [cdkDropListConnectedTo]="[minha]" (cdkDropListDropped)="drop($event, item)" class="col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-success py-2">
                                            <h6>Unidades</h6>
                                        </li>
                                        <li class="list-group-item" *ngFor="let p of itemListUnits" cdkDrag>
                                            <mat-icon>check</mat-icon>
            
                                        </li>
                                    </ul>
                                </div> -->
                </div>
            </div>
        </main>
    </div>









</div>