#container {
	overflow: auto !important;
}

gridster-item {
}

:host {
	gridster {
		display: flex;
		height: calc(100vh - 115px);
		flex-direction: column;
		background-color: white;
	}
}

.cardStyle {
	height: 60px;
}

.cardStyleText {
	margin-top: auto;
	margin-bottom: auto;
}


