<app-toolbar></app-toolbar>

<div class="container">
  <div class="card">
    <div class="card-header">Adicionar Fornecedores
      <button type="button" id="save" (click)="save()" mat-raised-button class="col-md-2 pull-right" color="primary">
        Salvar ações
      </button>
    </div>

    <div class="card-body">
      <div class="tableProvider">
        <table class="table-sm">
          <thead>
            <tr>
              <button id="newItem" (click)="newItem()" type="button" mat-raised-button color="accent" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <mat-icon>add</mat-icon>
              </button>
            </tr>
            <tr id="Titles">
              <th>Email</th>
              <th>Senha</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="(providers | paginate: { itemsPerPage: 5, currentPage: page })" let-index="index">
              <tr *ngIf="item.active">
                <td>
                  <input required [(ngModel)]="item.name" name="name" type="text" class="form-control" id="name" aria-describedby="name" />
                </td>
                <td>
                  <input required [(ngModel)]="item.password" name="password" type="text" class="form-control" id="password" aria-describedby="password" />
                </td>
              </tr>
            </ng-template>
          </tbody>
          <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próxima" autoHide="true" responsive="true" screenReaderPaginationLabel="Pagination">
          </pagination-controls>
        </table>
      </div>
    </div>
  </div>

</div>