<app-toolbar></app-toolbar>
<div class="container">
    <div class="card">
        <div class="card-header" style=" height: 2.5rem;">
            Filtros
        </div>
        <div class="card-body">
            <div class="row styleRow">
                <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12 stylePadding">
                    <label>Data inicial</label>
                    <div class="form-group">
                        <p-calendar id="dateInitial" (ngModelChange)="dateInitial = $event" name="date" [ngModel]="dateInitial| date:'dd/MM/yyyy'" dateFormat="dd/mm/yy">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12 stylePadding">
                    <label>Data final</label>
                    <div class="form-group">
                        <p-calendar (ngModelChange)="dateFinal = $event" name="date" [ngModel]="dateFinal| date:'dd/MM/yyyy'" dateFormat="dd/mm/yy">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12 stylePadding">
                    <label>Coletor</label>
                    <div class="form-group">
                        <select [(ngModel)]="collector" name="collector" class="form-control  borderColorStyle size" style=" height: 2.2rem;">
                            <option></option>
                            <option id="collector" *ngFor="let item of collectors">{{ item }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12 stylePadding">
                    <label>Categoria</label>
                    <div class="form-group">
                        <select [(ngModel)]="material" name="material" class="form-control  borderColorStyle size" style=" height: 2.2rem;">
                            <option></option>
                            <option id="material" *ngFor="let item of typesMaterials">{{ item }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div name="filterArray" *ngFor="let item of entrieItems | searchGraphicEntrie:dateInitial:dateFinal:colletor:material:this">
            </div>
        </div>
    </div>


  <div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
    <div class="card-header bg-light text-dark">
      Gráfico de saída de material - total por categoria
    </div>
    <div class="card-body">
      <p-chart [options]="options" type="bar" [data]="data"></p-chart>
    </div>
  </div>

</div>