<app-toolbar></app-toolbar>

<div class="container">

  <div class="card">
    <div class="card-header">
      <button class="block" (click)="expandCreate()" type="button" mat-raised-button color="accent" data-toggle="button" aria-pressed="false" autocomplete="off">
        <mat-icon *ngIf="!expandNew">expand_more</mat-icon>
        <mat-icon *ngIf="expandNew">expand_less</mat-icon>
      </button>
      Adicionar Fornecedores
      <button type="button" id="save" (click)="save()" mat-raised-button class="col-md-2 pull-right" color="primary">
        Salvar ações
      </button>
    </div>

    <div *ngIf="expandNew" class="card-body">
      <div class="tableProvider">
        <table class="table-sm">
          <thead>
            <tr>
              <button id="newItem" (click)="newItem()" type="button" mat-raised-button color="accent" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <mat-icon>add</mat-icon>
              </button>
            </tr>
            <tr id="Titles">
              <th></th>
              <th>Classificação</th>
              <th>Email</th>
              <th>Senha</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="(newProviders | paginate: { itemsPerPage: 5, currentPage: page })" let-index="index">
              <ng-template ngFor let-user [ngForOf]="(item.users | paginate: { itemsPerPage: 5, currentPage: page })" let-index="index">

                <tr *ngIf="item.active">
                  <td></td>
                  <td>
                    <label>{{item.classification}}</label>
                  </td>
                  <td>
                    <input required [(ngModel)]="user.email" name="email" type="text" class="form-control" id="email" aria-describedby="email" />
                  </td>
                  <td>
                    <div class="input-group">
                      <input minlength="6" maxlength="20" required [(ngModel)]="user.password" name="password" type="password" class="form-control" id="password" aria-describedby="password" (blur)="verifyPassword(user)" />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <mat-hint>{{ item.password?.length || 0 }}/20</mat-hint>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </ng-template>
          </tbody>
          <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próxima" autoHide="true" responsive="true" screenReaderPaginationLabel="Pagination">
          </pagination-controls>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <button class="block" (click)="expandProviders()" type="button" mat-raised-button color="accent" data-toggle="button" aria-pressed="false" autocomplete="off">
        <mat-icon *ngIf="!expandProvider">expand_more</mat-icon>
        <mat-icon *ngIf="expandProvider">expand_less</mat-icon>
      </button>
      Meus fornecedores
    </div>
    <div *ngIf="expandProvider" class="card-body">
      <ul class="list-group">
        <li *ngFor="let provider of myProviders">
          <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="{{path}}" alt="fornecedora">
            <div class="card-body">
              <div class="">
                <h5 class="card-title">{{provider.company}}</h5>
                <small><b>CNPJ </b></small>
                <input [(ngModel)]="provider.cnpj" class="inputStyle form-control" mask="00.000.000/0000-00" disabled="disabled" />
                <small><b>Email </b></small>
                <input [(ngModel)]="provider.email" class="inputStyle form-control" disabled="disabled" />
                <small><b>Telefone </b></small>
                <input [(ngModel)]="provider.phone" class="inputStyle form-control" mask="(00) 0000-0000" disabled="disabled" />
                <small><b>Celular </b></small>
                <input [(ngModel)]="provider.cellPhone" class="inputStyle form-control" mask="(00) 00000-0000" disabled="disabled" />
                <small><b>Classificação </b></small>
                <input [(ngModel)]="provider.classification" class="inputStyle form-control" disabled="disabled" />
                <button class="pull-right" (click)="details()" type="button" mat-raised-button color="accent" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>



</div>